.header__lang-link {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 30px 0 0);
}

.header__lang-link:checked + .header__activator {
  border-bottom: 2px solid #fff;
}
