.lead__title {
  max-width: 720px;
  margin: 0 0 32px;
  font-weight: 900;
  line-height: 100px;
  font-size: 96px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 60px;
    line-height: 62px;
    max-width: 500px;
    /* max-width: calc(100% - 2 * 24px); */
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    margin: 0 0 16px;
    max-width: 288px;
  }
}
