.form-lang {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  font-size: 24px;
  line-height: 28px;
}

@media screen and (max-width: 425px) {
  .form-lang {
    font-size: 18px;
    line-height: 20px;
  }  
}