.intro {
  display: flex;
  flex-direction: column;
  max-width: 690px;
  /* left: 148px; */
  /* надо ещё раз подумать как сделать блок без отступов */
  padding: 0 148px 92px;
}

@media screen and (max-width: 1183px) {
  .intro {
    padding: 0 48px 92px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    max-width: 100%;
    padding: 0 24px 88px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding: 0 16px 64px;
  }
}
