.cover__title {
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  margin: 0 0 32px;
  padding: 0;
  max-width: 560px;
  text-align: center;
}

/* дополнительную переломную точку сделяль */
@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 470px;
    font-size: 60px;
    line-height: 62px;
    margin: 0 0 16px;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    max-width: 320px;
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 16px;
  }
}