.form-lang__activator {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 30px;
  height: 28px;
  left: 37px;
}

.form-lang__link:checked + .form-lang__activator {
  /* text-decoration: underline; */
  border-bottom: 2px solid #fff;
}

@media screen and (max-width: 425px) {
  .form-lang__activator {
    width: 22px;
    height: 20px;
    left: 27px;
  }  
}